@media screen and (min-width: $break__mobile) {

	ul {
		margin: 0;
	}
	.main-navigation,
	.main-navigation.toggled {
		position: relative;
		min-height: 3.5em;
		margin: 0 auto;
		padding: 0 3.5em;
		background-color: $color__background-area;
	}
	.nav-menu {
		padding: .3em 0 0 0;
		background-color: transparent;
	}
	.main-navigation ul,
	.main-navigation.toggled ul {
		overflow-y: visible;
	}
	.main-navigation li {
		display: inline-block;
		border: none;
	}
	.main-navigation ul ul {
		outline: 1px solid #333;
	}
	.main-navigation li li {
		display: block;
		text-align: left;
	}
	.main-navigation a,
	.main-navigation ul ul li:last-child a {
		border-bottom: none;
	}



	.main-navigation ul ul.toggled-on {
		position: absolute;
		width: 12em;
		display: block;
		z-index: 10;
		margin-left: 0;
		background: $color__background-area;
	}
	.main-navigation ul ul ul.toggled-on {
		position: relative;
	}
	.main-navigation ul ul ul a {
		padding-left: 2em;
	}
	.dropdown-toggle {
		top: 18px;
		right: 14px;
		border: none;
	}
	.dropdown:after {
		line-height: 27px;
		width: 27px;
	}

	.main-navigation ul li {
		padding: 5px;
	}
}

@media screen and (min-width: $break__mobile) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		@include flex;
	}

}

@media screen and (max-width: $break__mobile) {

	.jump-nyhed h1 {
		@include font-size(1.7);
	}
	.menu-toggle {
		position: fixed;
		z-index: 100;
		bottom: 1em;
		left: 1em;
		text-transform: uppercase;
		background-color: $color__background-area;
		color: $color__text-main;
		height: 40px;
		width: 80px;
		border: 1px #fff solid;
		border-radius: 0;
		text-shadow: none;
		padding: 0;
		transition: all ease-out 400ms;
		box-shadow: none;
		@include font-size(1);
		&:hover {
			color: $color__link-hover;
		}
		&:hover,
		&:active,
		&:focus {
			border-color: inherit;
			box-shadow: none;
		}
	}

	.menu-toggle.hide {
		bottom: -2.5em;
	}

	.toggled .menu-toggle.hide {
		bottom: 2em;
	}

	.main-navigation.toggled {
		position: fixed;
		bottom: 0;
		box-shadow: none;
		padding: 1em;
		z-index: 1;
	}
	.nav-menu {
		margin:0 0 3em;
		max-width: 360px;
		box-shadow: 8px 0 15px -4px rgba(42,38,38,0.54),-8px 0 8px -4px rgba(42,38,38,0.54);
		background-color: $color__background-area;
	}
	.main-navigation.toggled ul {
		max-height: calc(100vh - 8em);
		overflow-y: auto;
	}
	.main-navigation.toggled ul ul {
		display: none;
	}

	.main-navigation.toggled ul ul.toggled-on,
	.main-navigation.toggled ul ul.toggled-on > ul {
		display: block;
	}

	.nav-menu li {
		padding: 5px;
	}

}

@media screen and (max-width: $break__nav_post) {
	main .jump-nyhed {
		margin: 0 auto 105px;
	}
}

@media screen and (max-width: $break__extra_medium) {
	#posts .entry-header {
		width: 100%;
		height: 300px;
		figure {
			width: 100%;
			height: 100%;
		}
		.post-img {
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		}
	}
}

@media screen and (max-width: $break__medium) {
	main .calender {
		margin: 50px 0 70px;
		padding: 0;
	}

	main .nyhedsBrev {
		margin: 105px auto 0;
	}
}

@media screen and (max-width: $break__nav_post) {
	.nav-links {
		flex-flow: column wrap;
	}
	.post-navigation .nav-previous,
	.post-navigation .nav-next {
		width: 100%;
	}
	.post-navigation .nav-next {
		padding-top: 1em;
		text-align: left;
	}
}

@media screen and (max-width: $break__small) {
	div.featured-image {
		max-width: calc(100% + 3em);
		margin: 0 -1.5em;
	}
}

.navbar-fixed {
	position: fixed;
	top: 0;
	max-width: 1400px;
	z-index: 1000;
}
@media screen and (max-width: $break__medium) {
	.navbar-fixed {
		max-width: 100%;
	}
}
.site-logo-fixed {
	position: fixed !important;
	top: 75px !important;
	transition: all 1.5s ease-in-out;
}
@media screen and (max-width: $break__nav_post) {
	.hide-small {
		display: none;
	}
}

@media screen and (min-width: $break__nav_post) {
	.hide-big {
		display: none;
	}
}
