@import "variables-site/variables-site";
@import "mixins/mixins-master";

*:focus {
  outline: none;
}
.intro {
  background-color: $color__background-content;
  @include flex(row, wrap, space-around);
  padding: 160px 0 105px;
  @media screen and (max-width: $break__medium) {
    @include flex(column, nowrap, space-around);
  }
  p {
    margin: 0;
  }
  .logo {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    svg {
      fill: $color__link-hover;
    }
    @media screen and (max-width: $break__medium) {
      width: 150px;
      height: 150px;
    }
  }
}
.infoi svg {
  width: 100px;
  height: 100px;
  @media screen and (max-width: $break__medium) {
    width: 130px;
    height: 130px;
  }
}

.feature {
  width: 33%;
  text-align: left;
  @media screen and (max-width: $break__medium) {
    width: 100%;
    padding: 0 5em;
    @media screen and (max-width: $break__nav_post) {
      padding: 0;
    }
    &:nth-child(n+2) {
      padding-top: 50px;
    }
  }
  h3 {
    padding: 0 20px 0;
    font-family: $font__main;
  }
}

// a[href="#jump"] {
//   color: $color__text-main;
//   &:hover {
//     color: $color__link-hover;
//   }
// }

.jump-nyhed {
  margin: 0 auto 105px;
  width: 90vw;
  max-width: 350px;
  text-align: center;
  border: 3px solid $color__background-area;
  color: $color__text-main;
  &:hover {
    color: $color__link-hover;
    border: 3px solid $color__link-hover;
    background-color: $color__background-content;
  }
}

.hentry {
  margin: 0;
}

h1.site-title {
  margin: 0;
  @include font-size(6);
  @include text-shadow;
  a {
    color: $color__background-content;
  }
}

h2.site-description {
  margin: 0;
  @include font-size(1.2);
}

.post-entry {
  @include flex(row, nowrap, space-around);
  min-height: 400px;
  @media screen and (max-width: $break__medium) {
    @include flex(row, wrap, center);
    width: 100%;
  }
}

.post-img {
  width: 500px;
  height: 400px;
  background-size:cover;
  background-position: top center;
}

.entry-wrap {
  width: 500px;
  max-height: 400px;
  padding: 0 20px 0;
  background-color: $color__background-area;
  h2 {
    margin-bottom: 0;
  }
  div span {
      @include font-size(.8);
  }
}

.entry-title {
  @include font-size(2.4);
  a:hover {
    color: $color__link-hover;
  }
  @media screen and (max-width: $break__extra_medium) {
    @include font-size(1.8);
  }
  @media screen and (max-width: $break__extra_small) {
    @include font-size(1.5);
  }
}

.entry-content p {
  padding-bottom: 40px;
}

#posts div:nth-child(2n) .entry-wrap {
  order: -1;
  text-align: right;
  @media screen and (max-width: $break__small) {
    order: 2;
    text-align: left;
  }
}
// #posts div:last-child {
//   padding-bottom: 105px;
//   @media screen and (max-width: $break__extra_medium) {
//     padding-bottom: 0;
//   }
// }

#posts {
  padding-top: 105px;
}

.reklame {
  max-width: 728px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  a {
    display: flex;
    align-items: center;
    padding: 20px;
    img {
      max-height: 130px;
      max-width: 100%;
    }
    &:hover {
      background-color: $color__link-hover;
      border-radius: 10px;
    }
  }
}

.calender {
  padding: 105px 0 105px;
}
.cal-wrap {
  padding: 0 40px;
  @media screen and (max-width: $break__medium) {
    @include flex(row, wrap, center);
    width: 100%;
  }
}

.simcal-calendar {
  background-color: rgba(0,0,0,.1);
  .simcal-past {
    background-color: rgba(0,0,0,.2);
  }
}

.nyhedsBrev {
  margin: 105px auto 105px;
  text-align: center;
}

.last-item {
  margin: 100px auto 0;
}

.mailsub {
margin: 55px auto 0;
  padding: 0 40px 0;
  max-width: 700px;
  @media screen and (max-width: $break__small) {
    max-width: 500px;
  }
}

input[type='email'],
input[type='text'] {
  background-color: $color__footer;
  color: $color__text-main;
  padding-left: 10px;
  width: 59%;
}
input[type='text'] {
  width: 49.5%;
  margin-bottom: 4px;
}



input[type='submit'] {
  width: 40%;
  background-color: $color__link-hover;
  padding: 0;
  box-shadow: none;
  &:hover {
    box-shadow: none;
    border: solid 2px #000;
    background-color: $color__background-area;
    transition: all .2s ease;
  }
}

input[type='email'],
input[type='submit'],
input[type='text'] {
  color: $color__text-main;
  @include font-size(1.5);
  font: $font__second;
  height: 60px;
  border: solid 2px #000;
  border-radius: 0;
  &::-webkit-input-placeholder,
  -ms-input-placeholder,
  -ms-input-placeholder {
    color: $color__text-main;
  }
  @media screen and (max-width: $break__small) {
    width: 100%;
    margin-bottom: 5px;
  }
}

.mc4wp-response {
  color: $color__text-main;
  @include font-size(1.4);
  background-color: $color__background-area;
  border-radius: 5px;
}

#posts .more-news {
  margin: 80px auto;
}
