@import "variables-site/variables-site";
@import "mixins/mixins-master";

.intro {
  background-color: $color__background-content;
}

.hentry {
  margin: 0;
}

h1.site-title {
  margin: 0;
  @include font-size(6);
  @include text-shadow;
  a {
    color: $color__background-content;
  }
}

p.site-description {
  margin: 0;
  @include font-size(1.2);
  color: $color__background-content;
}

.post-entry {
  @include flex(nowrap, space-around);
  min-height: 400px;
  @media screen and (max-width: $break__medium) {
    @include flex(wrap, space-around);
  }

}

.entry-header {
  max-width: 500px;
  max-height: 400px;
}

.entry-wrap {
  max-width: 500px;
  max-height: 400px;
  padding: 0 20px 0;
  h2 {
    margin-bottom: 0;
  }
  div span {
      @include font-size(.8);
  }
}
