// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

@mixin font-size-mobile($sizeValue: 0.75) {
	font-size: ($sizeValue * 12) * 1px;
	font-size: $sizeValue * 0.75rem;
}

@mixin text-shadow {
	text-shadow: 0 1px 0 #E9EAED, 0 2px 0 #E9EAED, 0 3px 0 #E9EAED, 0 4px 0 #E9EAED, 0 5px 0 #E9EAED, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

@mixin flex($wrap: wrap, $space: space-between) {
	display: flex;
	flex-flow: row $wrap;
	justify-content: $space;
}
