$size__site-main: 100%;
$size__site-sidebar: 25%;

$boxShadow__content: 8px 0 15px -4px rgba(42,38,38,.54), -8px 0 8px -4px rgba(42,38,38,.54);

$break__medium: 1036px;
$break__small: 999px;
$break__mobile: 872px;
$break__nav_post: 650px;
$break__extra_medium: 500px;
$break__extra_small: 401px;
