
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	font-family: $font__main;
  box-shadow: 8px 0 15px -4px rgba(42,38,38,0.54),-8px 0 8px -4px rgba(42,38,38,0.54);

	ul {
		display: none;
		list-style: none;
		padding: 0 8px 0;

	}
}

.main-navigation a {
	display: block;
	padding: 0.8em 0;
	position: relative;
	text-decoration: none;
	color: $color__text-main;
	&:hover {
		color: $color__link-hover;
	}
}

.main-navigation ul {
	list-style: none;
}

.main-navigation ul ul {
	display: none;
	margin-left: 0.8em;
}

.main-navigation ul .toggled-on {
	display: block;
}

.main-navigation li {
	border-top: 1px solid #eaeaea;
	border-top: 1px solid rgba(51, 51, 51, 0.1);
	position: relative;
}

.main-navigation .current-menu-item > a,
.main-navigation .current-menu-ancestor > a {
	font-weight: 700;
}

.main-navigation .nav-menu > ul > li:first-child,
.main-navigation .nav-menu > li:first-child {
	border-top: 0;
}

.main-navigation .menu-item-has-children > a {
	padding-right: 48px;
}

.main-navigation .menu-item-description {
	color: #707070;
	color: rgba(51, 51, 51, 0.7);
	font-family: "Noto Sans", sans-serif;
	font-size: 12px;
	font-size: 1.2rem;
	font-weight: 400;
	line-height: 1.5;
	margin-top: 0.5em;
}

.no-js .main-navigation ul ul {
	display: block;
}

.dropdown-toggle {
	background-color: transparent;
	border: 0;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	font-family: 'FontAwesome';
	content: "";
	height: 35px;
	width: 35px;
	padding: 0;
	position: absolute;
	text-transform: lowercase; /* Stop screen readers to read the text as capital letters */
	top: 12px;
	right: 6px;
	color: #fff;
}

.dropdown-toggle:after {
	content: "\f078";
	font-size: 14px;
	line-height: 27px;
	position: relative;
	top: 0;
	left: 1px;
	width: 27px;
}

.dropdown-toggle:hover,
.dropdown-toggle:focus {
	background-color: #eaeaea;
	background-color: rgba(51, 51, 51, 0.1);
}

.dropdown-toggle:focus {
	outline: 1px solid #c1c1c1;
	outline: 1px solid rgba(51, 51, 51, 0.3);
}

.dropdown-toggle.toggle-on:after {
	content: "\f077";
}


/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}


.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
	}

	.nav-next {
		float: right;
		text-align: right;
	}
}

/*
 * Other Navigation
 */
.post-navigation {
	padding: 2em 3em;
	text-align: left;
	overflow: hidden;
	a {
		display: block;
		width: 100%;
		text-decoration: none;
		padding: 1em;
		border: 1px solid $color__text-main;
		&:hover,
		&:focus {
			border-color: $color__link-hover;
		}
	}
}

.nav-links {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
}

.post-navigation .nav-previous {
	display: flex;
	align-items: stretch;
	float: left;
	width: 45%;
}

.post-navigation .nav-next {
	display: flex;
	align-items: stretch;
	float: left;
	width: 48%;
}

.nav-previous {
	padding-bottom: 0;
}

.post-navigation .post-title {
	@include font-size(1.2);
	font-weight: 700;
}
