.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	background-color: $color__background-area;
	margin-top: -6px;
	font-family: $font__main;

	ul {
		display: none;
		list-style: none;
		margin: 0 auto;
		padding: 0 15px 0;
		max-width: 1200px;

		li {

			&:hover {
				background-color: $color__link-hover;
			}
		}

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
			//float: left;
			position: absolute;
			top: 3.4em;
			left: -999em;
			z-index: 99999;
			padding: 0;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 150px;
				color: $color__text-main;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
		ul {
			background-color: $color__background-area;
		}
		li {
			padding-right: 20px;
			&:first-child {
				padding-top: 10px;
			}
		}
	}
	a {
		display: block;
		padding: 15px;
		text-decoration: none;
		color: $color__text-main;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
#primary-menu {
	@include flex;
	background-color: $color__background-area;
}
