#page {
  box-shadow: $boxShadow__content;
  max-width: 1600px;
  margin: 0 auto;
}

#content {
  max-width: 1600px;
  margin: 0 auto;
  background-color: $color__background-content;
}

.content-area {
  max-width: 1000px;
  margin: 0 auto;
  background-color: $color__background-area;
}
