.site-header {
  margin: 0 auto;
  img {
    display: block;
    width: 100vw;
    height: 40vh;
    object-fit: cover;
  }
}

.header-wrap {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.site-branding {
  max-width: 250px;
  position: absolute;
  top: -300px;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
}

.site-logo {
  position: relative;;
}

.site-logo a {
  position: absolute;
  z-index: 10;
  top: 1em;
  left: 1em;
  display: block;
  width: 4em;
  height: 4em;
  color: $color__text-main;
  border-radius: 10px 14px;
  text-decoration: none;
  line-height: 1.5;
  &:hover,
  &:focus {
    background-color: $color__link-hover;
  }
}

.site-firstletter {
  font-family: "Roboto", sans-serif;
  @include font-size(1.2);
  text-align: center;
  &:hover,
  &:focus {
    background: $color__background-content;
    color: $color__text-main;
  }
}
