.site-header {
  margin: 0 auto;
  img {
    display: block;
    height: 420px;
    object-fit: cover;
  }
}

.site-branding {
  max-width: 250px;
  position: absolute;
  top: 150px;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.logo-wrapper {
  position: relative;
}

.site-logo svg {
  position: absolute;
  top: 16px;
  left: 2.5vw;
  padding: 7px;
  background-color: rgba(#000, .5);
  border-radius: 4px;
  width: 10em;
  transition: all .2s ease;
  &:hover,
  &:focus {
    background-color: rgba($color__link-hover, 1);
    transition: all .2s ease;
  }
}

.site-logo a {
  display: block;
  text-decoration: none;
  z-index: 100;
  position: absolute;
}

.site-firstletter {
  font-family: "Roboto", sans-serif;
  @include font-size(1.2);
  text-align: center;
  &:hover,
  &:focus {
    background: $color__background-content;
    color: $color__text-main;
  }
}
